{{extend 'layout1.html'}}
	<!-- main container -->
    <div class="content">
        <div class="row-fluid" text-align:'center'>
                <br/>
                <br/>
                <br/>
                <div  class="span3">
                </div>
               <div  class="span6 box" style="margin:10px;padding:10px 30px 10px 30px" >
                   <h3 style="text-align:center">About App</h3>
                   <br/>
                   <p style="font-size:15px">Description of app<br/><br/>Features included are:
                   <ul>
                       <li><b>Points</b></li>
                       Description goes here<br/>&nbsp;
                   </ul>
                   </p>
		       </div>
	    </div>
   </div>

