{{extend 'layout1.html'}}
	<!-- main container -->
    <div class="content">
        <div class="row-fluid" text-align:'center'>
                <br/>
                <br/>
                <br/>
                <div  class="span3">
                </div>
               <div  class="span6 box" style="margin:10px;padding:10px 30px 10px 30px" >
                   <h3 style="text-align:center">About App</h3>
                   <br/>
                   <p style="font-size:15px">Tweeticon is a sentiment analysis tool for identifying the sentiment of the tweets as positive, negative and neutral.Tweeticon comes to rescue to find the sentiment of a single tweet or a set of tweets. Not only that it also enables you to find out the sentiment of the entire tweet or specific phrases of the tweet.
                   </p>
		       </div>
	    </div>
   </div>

