{{extend 'layout1.html'}}
	<!-- main container -->
    <div class="content">
        <div class="container-fluid">

            <div id="pad-wrapper">

                <!-- table sample -->
		<!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="table-products section">
                    <div class="row-fluid head">
                        <div class="span12">
				<h4>
					<b>Sentence Level</b><br/>
					Total Tweet :{{=accuracySent[1]}} &nbsp;&nbsp; Correct Prediction:{{=accuracySent[0]}} &nbsp;&nbsp; Accuracy:{{=accuracySent[2]}}<br/>
				</h4>
				<br/>
				<h4>
					<b>Phrase Level</b><br/>
					Total Tweet :{{=accuracyPhrase[1]}} &nbsp;&nbsp; Correct Prediction:{{=accuracyPhrase[0]}} &nbsp;&nbsp; Accuracy:{{=accuracyPhrase[2]}}<br/>
				</h4>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="span3">
                                        Tweet
                                    </th>
                                    <th class="span2">
                                        <span class="line"></span>Status
                                    </th>
                                    <th class="span2">
                                        <span class="line"></span>Type
                                    </th>
                                    <th class="span2">
                                        <span class="line"></span>Phrase
                                    </th>
                                    <th class="span3">
                                        <span class="line"></span>PredictedLabel
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- row -->
				{{for i in sentDetails:}}
				{{print i}}
                                <tr>
                                    <td class="description">
					   {{=i.Tweet}}
                                    </td>
                                    <td>
				    	<span class="label label-info">
						<a href="{{=URL(r = request, f = 'test' ,args=[i.id,'Sentence'])}}">Click</a>
					</span>
				    	<!--span class="label label-success">Complete</span-->
                                    </td>
                                    <td>
					<span class="label label-info">Sentence</span>
                                    </td>
                                    <td class="description">
				   	N/A
                                    </td>
                                    <td>
					    <span class="label label-info">{{=i.PredictedLabel}}</span>
                                    </td>
                                </tr>
				{{pass}}
                                <!-- row -->

                                <!-- row -->
				{{for i in phraseDetails:}}
				{{print i}}
                                <tr>
                                    <td class="description">
					{{=i.Tweet}}
                                    </td>
                                    <td>
				    	<span class="label label-info">
						<a href="{{=URL(r = request, f = 'test' ,args=[i.id,'Phrase'])}}">Click</a>
					</span>
				    	<!--span class="label label-success">Complete</span-->
                                    </td>
                                    <td>
					<span class="label label-info">Phrase</span>
                                    </td>
                                    <td class="description">
					    {{=i.Phrase}}
                                    </td>
                                    <td>
					    <span class="label label-info">{{=i.PredictedLabel}}</span>
                                    </td>
                                </tr>
				{{pass}}
                                <!-- row -->
                            </tbody>   
                        </table>
                    </div>
		    </div>
		    <!-- end table sample -->
		    <!--div class="pagination pull-right">
                      <ul>
                        <li><a href="#">&#8249;</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&#8250;</a></li>
                      </ul>
                    </div-->
		    </div>
		    </div>
		    </div>

